<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodobox</title>
    <!-- Bootstrap css and scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Stefan's css -->
    <link rel="stylesheet" href="{% static "style3.css" %}">

</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#"><img src="{% static "Bitmap.png" %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active-nav">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
            </ul>
            <button class="btn btn-register"><a href="/register">Register</a></button>
            <button class="btn btn-login"><a href="/login">Login</a></button>
        </div>
    </nav>
    <div class="container-fluid" style="width: 100%; padding: 0; margin: 0;">
        <div class="row">
            <div class="col-12">
                <div class="bg">
                    <div class="bg-text">
                        <p class="header-text">Choose your program</p>
                        <hr style="background-color: white;">
                        <p class="header-info">You can improve your life by eating <br>healthier</p>
                        <button class="btn btn-success">Try Now</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row" style="text-align: center;">
            <div class="col-12">
                <h1 id="howItWorks"><b>&nbsp;How it works<b></h1>
                <hr style="width: 11%; background-color: #1CC661; height: 1px;">
            </div>
        </div>
        <div class="row" style="margin-left: 12%; margin-top: 50px;">
            <div class="col-4" style="text-align: center;">
                <div class="cardy">
                    <img src="{% static "check-form.png" %}" alt="">
                    <h3>Fill in a form</h3>
                    <p align="center" style="color: #555555; font-size: 14px;">Give us more information about you.</p>
                    <img src="{% static "buline 1.png" %}">
                </div>
            </div>
            <div class="col-4" style="text-align: center;">
                <div class="cardy">
                    <img src="{% static "cursor.png" %}" alt="">
                    <h3>Choose a plan</h3>
                    <p align="center" style="color: #555555; font-size: 14px;">Choose the program that suits your needs.</p>
                    <img src="{% static "buline 2.png" %}">
                </div>
            </div>
            <div class="col-4" style="text-align: center;">
                <div class="cardy">
                    <img src="{% static "fast-delivery.png" %}" alt="">
                    <h3>Get your food</h3>
                    <p align="center" style="color: #555555; font-size: 14px;">We deliver your meals at home or your office.</p>
                    <img src="{% static "buline3.png" %}">
                </div>
            </div>
        </div>
        <br> <br>
        <div class="row" style="margin-left: 12%;">
            <div class="col-4"></div>
            <div class="col-4" style="text-align: center;">
                <div class="cardy">
                    <img src="{% static "happy.png" %}" alt="">
                    <h3>Enjoy!</h3>
                    <p align="center" style="color: #555555; font-size: 14px;">Stay fit and full of energy the whole day.</p>
                    <img src="{% static "buline 4.png" %}">
                </div>
            </div>
            <div class="col-4"></div>
        </div>
        <br> <br>
        <div class="row" style="text-align: center;">
            <div class="col-12">
                <h1 id="aboutUs" text-align="center"><b>&nbsp;About Us<b></h1>
                <hr style="width: 11%; background-color: #1CC661; height: 1px;">
            </div>
        </div>
        <br>
        <br>
        <div class="row" style="text-align: center; ">
            <div class="col-12">
                <img src="{% static "poza cezar.png" %}" alt="" style="margin-left: 20px; margin-right:50px;">
                <img src="{% static "temian.png" %}" alt="" style="margin-left: 20px; margin-right:50px;">
                <img src="{% static "imag1.png" %}" alt="" style="margin-left: 20px; margin-right:50px;">
                <img src="{% static "stefan.png" %}" alt="" style="margin-left: 20px; margin-right:50px;">
                <img src="{% static "imag2.png" %}" alt="" style="margin-left: 20px; margin-right:50px;">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-4 offset-4">
                <p align="center" style="color: #555555; font-size: 14px; line-height: 29px;">Foodobox provides a complex approach to excess weight problems, figure correction, improves the health and quality of life. We’ll support the customers to develop new healthful eating habits and overcoming the missed meals </p>
            </div>
        </div>
        <hr style="width: 47%; background-color: #1CC661; height: 1px;">
        <br>
        <div class="row">
            <div class="col-4 offset-4">
                <p align="center" style="color: #555555; font-size: 14px; line-height: 29px;">Understanding the problem of the lack of time to cook healthy and low education in nutrition, we have the solution to create an online platform where the user registers for a scan of his body. Afterwards, based on the scanning results, the user gets a healthy meal based on his needs to achieve the desired goal.
                                                            The meals will be delivered and the user will get monitored by our experts.</p>
            </div>
        </div>
        <br><br><br>
        <div class="row" style="text-align: center;">
            <div class="col-12">
                <h1 id="aboutUs" text-align="center"><b>&nbsp;Contact Us<b></h1>
                <hr style="width: 11%; background-color: #1CC661; height: 1px;">
            </div>
        </div>
        <br> <br> <br>
        <div class="row">
            <div class="col-4 offset-2">
                <div class="form-group">
                    <input type="email" name="username" value="{{form.body}}" class="form-control" id="emailField" aria-describedby="emailHelp" placeholder="First name">
                </div>
                <br>
                <div class="form-group">
                    <input type="email" name="username" value="{{form.body}}" class="form-control" id="emailField" aria-describedby="emailHelp" placeholder="example@email.com">
                </div>
                <br>
                <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" placeholder="Your message"></textarea>
                </div>
                <button type="submit" class="btn btn-success" style="background-color: rgb(245, 245, 245); width: 100px; height: 45px; color: #1CC661;">Success</button>

            </div>
            <div class="col-2 offset-1">
                <p style="color: #555555; font-size: 14px;">Emails:</p>
                <p style="color: #555555; font-size: 14px;">fagadarcezar111@gmail.com</p>
                <hr style="width: 70%; margin-left:0px; background-color: #1CC661; height: 1px;">
                <p style="color: #555555; font-size: 14px;">foodobox2018@gmail.com</p>
                <br>
                <p style="color: #555555; font-size: 14px;">Phone numbers:</p>
                <p style="color: #555555; font-size: 14px;">+40 733 625 927</p>
                <hr style="width: 70%; margin-left:0px; background-color: #1CC661; height: 1px;">
                <p style="color: #555555; font-size: 14px;">+40 738 253 749</p>
            </div>
        </div>
    </div>

    <br><br>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light  "style="height: 151px;width: 100%;background-color: #555555;">
        <a class="navbar-brand" href="#"><img src="{% static "logo alb.png" %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="margin-left: 5%;">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#fff;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#fff;">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#fff;">Contact us</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto" style="margin-left: 40%;">
                <li class="nav-item">
                    <a class="nav-link" href="/register" style="color:#fff;">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" style="color:#fff;">Login</a>
                </li>
            </ul>
        </div>

    </nav>



</body>
</html>